---
layout: home-page
title: About
permalink: /about/
---
<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
      </div>
      <p class="subtitle">{{site.about-author}}</p>
    </section>
    <section class="about-body">
      <ul class="contact-list">
     {% if site.email %}
        <li class="email"><i class="fa fa-envelope-o">Shj954@naver.com</i></li>
      {% else %}
        <li class="email"><i class="fa fa-envelope-o" aria-hidden="true">Shj954@naver.com</i></li>
      {% endif %}
      {% if site.phone %}
        <li class="phone"><i class="fa fa-phone">010-3223-9690</i></li>
      {% else %}
        <li class="phone"><i class="fa fa-phone" aria-hidden="true">010-3223-9690</i></li>
      {% endif %}
      </ul>
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
